.App {
  position:relative;
  display : flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divider{
  height : 150px;
}
.button{
  outline : none;
  border : none;
  background-color: #27C2F8;
  border-radius: 10px;
  color : #282c34;
  font-size:30px;
  height:60px;
  width:100px;
}
.button:hover{
  background-color: #98E1FA;
}
.button:active {
  background-color: #1B7290;
  box-shadow: 0 2px #808080;
  transform: translateY(4px);

}